body {
    background-image: url(../images/bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
p {
    text-align: center;

}

#headline {
    color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 80px 'ChunkFiveRegular';

}

button { 
     display:inline-block;
     padding:0.35em 1.2em;
     border:0.1em solid #FFFFFF;
     margin:0 0.3em 0.3em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     text-align:center;
     transition: all 0.2s;
}

button:hover{
     color:#000000;
     background-color:#FFFFFF;
    }

#header {
text-align: center;
}

.pomodoro {
    width: 550px;
    height: 450px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: #FFFFE0;
    display: block;
}

.left-column {
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
}

.right-column {
    margin-top: 5%;
   
    width: 50%;
}

.break {
    margin-top: 10%;
}

.display {
    width: 150px;
    height: 50px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: #ADD8E6;
    display: block;
    margin-top: 10%;
}

.buttons {
    margin-top: 10%;
    text-align: center;
}

.workframe {
    width: 15%;
    background: #ADD8E6;
    padding: 2%;
    margin: 1%;
    text-align: center;
}

.breakframe {
    width: 15%;
    background: #ADD8E6;
    padding: 2%;
    margin: 1%;
    text-align: center;
}

.full {
    width: 100%;
    display: flex;
}

#timeToWork {
    text-align: center;
}